@import url("https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap");
// font-family: 'Abel', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
@import './Components/Animation.scss';

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #eaeded;
}
